/*Header e Footer*/

header, footer {
  background: #2E948A;
  width: 100%;
  padding: 20px 0;
}

.header-container, .footer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header-menu li a{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  transition: 300ms;
}

.header-menu li a:hover, .footer-menu li a:hover {
  color: rgb(184, 199, 197);
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.footer-menu li a{
  color: #fff;
  font-size: 20px;
  transition: 300ms;
}

.footer-bttn-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
}

.footer-bttn {
  color: #fff;
  padding: 10px 40px;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 25px;
  transition: 300ms;
}

.footer-bttn:hover {
  color: #2E948A;
  background: #fff;
}

/*Index*/

.container {
  max-width: 80%;
  margin: 0 auto;
}

.intro {
  margin: 80px auto 60px auto;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro-content h1 {
  font-size: 60px;
  font-weight: 700;
}

.intro-content p {
  font-size: 22px;
  margin: 30px 0 40px 0;
}

.intro-content a {
  color: #FF4081;
  border: 2px solid #FF4081;
  padding: 10px 25px;
  border-radius: 25px;
  text-align: center;
  transition: 300ms;
  font-size: 25px;
}

.intro-content a:hover {
  color: #fff;
  background: #FF4081;
}




.cursos-cta {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 60px auto;
  align-items: baseline;
  justify-content: space-between;
  background: #F7F7F7;
  max-width: 100%;
  padding: 80px 10%;
}

.cursos-cta-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  gap: 25px;
}

.cursos-cta-item:nth-child(2) {
  margin: 0 60px;
}

.cursos-cta-item h2 {
  margin-top: 25px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.cursos-cta-item p {
  text-align: center;
  margin-bottom: 20px;
}

.cursos-cta-item a {
  color: #fff;
  background: #FF4081;
  border: 2px solid #FF4081;
  padding: 10px 40px;
  border-radius: 25px;
  transition: 300ms;
  box-sizing: border-box;
}

.cursos-cta-item a:hover {
  color:#FF4081;
  background: #F7F7F7;
}




.opinioes h2{
  color: #2E948A;
  font-size: 30px;
  margin-bottom: 60px;
}

.opinioes-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.opinioes-content {
  display: flex;
  align-items: center;
  gap: 25px;
  max-width: 45%;
}

.opinioes-content p {
  margin-bottom: 15px;
}

.opinioes-content cite {
  font-style: normal;
  font-weight: 700;
}




.blog-cta {
  max-width: 100%;
  background: #F7F7F7;
  padding: 80px 10% 60px 10%;
}

.blog-cta h2 {
  color: #2E948A;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 60px;
}

.blog-cta-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog-cta-content {
  max-width: 30%;
}

.blog-cta-content h3{
  color:#2E948A;
  font-size: 25px;
  font-weight: 700;
  margin: 15px auto 5px auto;
}

.blog-cta-content img{
  width: 648px;
}

.blog-cta-content p{
  max-width: 648px;
}

.blog-cta a {
  display: block;
  margin: 0 auto;
  width: 270px;
  padding: 10px 30px;
  color: #FF4081;
  font-size: 25px;
  border: 2px solid #FF4081;
  border-radius: 25px;
  transition: 300ms;
  text-align: center;
}

.blog-cta a:hover {
  background: #FF4081;
  color: #F7F7F7;
}


@media only screen and (max-width: 1630px) {
  .intro {
    max-width: 80%;
    gap: 40px;
  }
}

@media only screen and (max-width: 1500px) {
  .cursos-cta-item{
    max-width: 25%;
  }
}

@media only screen and (max-width: 1250px) {
  .intro {
    flex-direction: column;
    gap: 100px;
    align-items: center;
    text-align: center;
  }

}

@media only screen and (max-width: 1020px) {
  .header-container img {
    max-width: 200px;
  }
  
  .intro-content h1, h1 {
    font-size: 45px; 
  }

  .header-menu li a, .intro-content p, .intro-content a, .blog-cta a, .footer-bttn, p, a{
    font-size: 18px;
  }

  .intro-img img {
    max-width: 403px;
  }

  .cursos-cta-item a {
    padding: 10px 20px;
  }

}

@media only screen and (max-width: 880px) {
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-menu {
    gap: 20px;
  }

  .cursos-cta {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }

  .cursos-cta-item, .cursos-cta-item:nth-child(2) {
    max-width: 100%;
    margin: 0;
  }

  .blog-cta {
    text-align: center;
  }

  .blog-cta-row {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .blog-cta-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .header-container {
    flex-direction: column;
    gap: 35px;
  }

  .opinioes {
    display: flex;
    flex-wrap: wrap;
  }

  .opinioes-row {
    flex-direction: column;
    gap: 60px;
  }

  .opinioes-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 503px) {
  .intro-img img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .opinioes-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

}

@media only screen and (max-width: 356px) {
  .header-menu {
    gap: 25px;
  }

  
}
